<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="CommandName" value="C:\Projects\ProcessStarter\ConsoleApp\bin\Debug\ConsoleApp.exe" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="EventLogAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Temp\ProcessStarterService.log" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100MB" />
      <param name="staticLogFileName" value="true" />
      <param name="ImmediateFlush" value="true" />
      <param name="countDirection" value="1" />
      <param name="bufferSize" value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %message%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>